/* Set box-sizing to all html elements */
* {
  box-sizing: border-box;
}

.wrapper{
  width: 350px;
  margin: auto;
}

/* Background color of website */
body {
  background-color: #b36a5e;    /* Coral colored background */
}


/* header & navigation */
header {
  background-color:  #c97c5d;
}


/* Header font styles */
h1, h2, h3, nav {
  font-family: 'Times New Roman', Times, Serif;
  color: white;
  text-align: center;
  text-decoration: underline;
}

/* Paragraph styling */
p {
  font-family:  'Times New Roman', Times, Serif;
  color: black;
  line-height: 1.6;
}


/* Image made circular */
img {
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%
}

/* ol & ul styling */
ol, ul {
  background: #c97c5d;
  padding: 20px;
}

/* List styling */
ol li, ul li {
  background: #c89f9c;
  padding: 5px;
  margin-left: 35px;
  list-style-position: outside;
}

/* Styled links using pseudo-classes */
  a:link{color: #005ddb;}   /*Blue link */
  a:visited{color: #128202;}  /*Green visited */
  a:hover{color: #d3081c;}    /* Red hover */
  a:active{color: #fcf300;}   /* Yellow active */

  /* Footer styling */
  footer {
    background-color: #c89f9c;
  }
