/* Set box-sizing to all html elements */
* {
  box-sizing: border-box;
}


/* Div wrapper class  applied to all dividers*/
.wrapper{
  width: 350px;
  margin: auto;
}

/* Body Background color of website */
body {
  background-color: #b36a5e;    /* Coral colored background */
}


/* header styling */
header {
  background-color:  #9f9aa4;   /* Grey color */
  margin: 60px;
  padding: 40px;
  border: 1px solid white;      /* Border color white */
}

/* Main content styling */
main {
  margin: 60px;
  padding: 40px;
  border: 1px solid white;
}

/* Horizontal Ruler styling */
hr {
  height: 5px;
  color: white;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header 1 & 2 font style */
h1, h2 {
  font-family:  'Times New Roman', Times, Serif;    /* fallback fonts */
  color: black;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 3px;    /* Spacing between letters */
}


/* Header and Navigation font styles */
h3, nav {
  font-family: 'Times New Roman', Times, Serif;   /* Fallback fonts */
  color: white;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 2px;    /* Spacing between letters */
}

/* Paragraph styling */
p {
  font-family:  'Times New Roman', Times, Serif;    /* Fallback fonts */
  color: black;
  font-size: 18px;
  line-height: 1.6;
}


/* Image styling */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ol & ul styling */
ol, ul {
  background: #9f9aa4;    /* Grey colored background */
  padding: 20px;
}

/* List styling */
ol li, ul li {
  background: white;    /* White color */
  padding: 5px;
  margin-left: 35px;
  list-style-position: outside;   /* Bullets located outside of container */
}

/* Styled links using pseudo-classes */
  a:link{color: #005ddb;}   /*Blue link */
  a:visited{color: #128202;}  /*Green visited */
  a:hover{color: #d3081c;}    /* Red hover */
  a:active{color: #fcf300;}   /* Yellow active */

  /* Footer styling */
  footer {
    text-align: center;
    background-color:  #9f9aa4;   /* Grey color */
    margin: 60px;
    padding: 25px;
    border: 1px solid white;
  }
